awxkit>=19.0.0
pypsrp
urllib3==1.26.7
requests==2.25.1
pywinrm
requests-credssp
boto
botocore
boto3
git+https://github.com/vmware/vsphere-automation-sdk-python.git
ovirt-engine-sdk-python>=4.4.0
ovirt-imageio
openstacksdk>=0.12.0
openshift>=0.6
netaddr
pandas
pyprowl
sendgrid
passlib
pyapi-gitlab
pysnow
aiohttp
pymssql
sendgrid==1.6.22
bs4