---
version: 3
images:
  base_image:
    name: quay.io/ansible/ansible-runner:latest
dependencies:
  ansible_core:
    package_pip: ansible-core>=2.13,<2.15
  galaxy: |
    ---
    collections:
      - name: awx.awx
      - name: azure.azcollection
        version: 3.9.0
      - name: amazon.aws
      - name: amazon.cloud
      - name: theforeman.foreman
      - name: google.cloud
      - name: openstack.cloud
      - name: community.vmware
      - name: community.aws
      - name: community.crypto
      - name: ovirt.ovirt
      - name: ansible.posix
      - name: ansible.windows
      - name: community.general
      - name: community.windows
      - name: community.azure
      - name: community.kubernetes
    #  - name: community.kubevirt # disable as it's not compatible with the latest version of Ansible
      - name: community.okd
      - name: community.postgresql
      - name: community.mysql
      - name: kubernetes.core
      - name: ansible.netcommon
      - name: vmware.vmware_rest
      #- name: chocolatey.chocolatey # requirements conflict with community.vmware
      - name: https://github.com/oatakan/chocolatey-ansible.git#/chocolatey/
        type: git
        version: update_reqs
      - name: microsoft.ad
      - name: vmware.vmware
  system: |
    python38-devel [platform:rpm compile]
    subversion [platform:rpm]
    subversion [platform:dpkg]
    git-lfs [platform:rpm]
    mkisofs [platform:rpm]
    openssl [platform:rpm]
    coreos-installer [platform:rpm]
    libnsl [platform:rpm]
    unzip [platform:rpm]
    file [platform:rpm]
    aria2 [platform:rpm]
    cabextract [platform:rpm]
    wimlib-utils [platform:rpm]
    genisoimage [platform:rpm]
    libcurl-devel [platform:rpm compile]
    gcc [platform:rpm]
    gcc-c++ [platform:rpm]
    openssl-devel [compile]
  python: |
    ansible
    jinja2>=2.11.2
    awxkit>=19.0.0
    netaddr>=0.8.0
    pyprowl>=3.0.1
    passlib>=1.7.4
    pyapi-gitlab>=7.8.5
    pysnow>=0.7.17
    aiohttp>=3.8.3
    pymssql>=2.2.5
    sendgrid==1.6.22
    bs4>=0.0.1
    html5lib>=1.1
    openstacksdk>=1.0
    paramiko==2.12.0
    pandas
additional_build_steps:
  append_base:
    - RUN sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
    - RUN sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
    - RUN dnf update -y
    - RUN dnf install -y yum-utils
    - RUN yum-config-manager --enable epel
    - RUN $PYCMD -m pip install --upgrade pip setuptools wheel
    - RUN alternatives --set python /usr/bin/python3
    - COPY --from=quay.io/ansible/receptor:devel /usr/bin/receptor /usr/bin/receptor
    - RUN mkdir -p /var/run/receptor
    - RUN pip install --upgrade packaging
    - RUN pip uninstall ansible-runner -y && pip install --use-pep517 git+https://github.com/ansible/ansible-runner.git@2.3.4#egg=ansible-runner
    - RUN pip uninstall urllib3 requests -y && pip install urllib3 requests
    - RUN pip uninstall pyOpenSSL cryptography -y && pip install pyOpenSSL==23.0.0
    - RUN dnf install -y dnf-plugins-core
    - RUN dnf install -y nfs-utils fuse fuse-devel libnfs libnfs-devel gcc git make automake autoconf libtool
    - RUN dnf install -y openssl-devel
    - RUN git clone https://github.com/rescatux/chntpw.git /tmp/chntpw && cd /tmp/chntpw && git checkout -q 0ec5c9cdf7a6855ca0c58e1fc01e2e15b2afa46b && make chntpw reged CFLAGS='-DUSEOPENSSL -g -I. -I/usr/include -Wall' OSSLLIB=/usr/lib64 && install -m 0755 chntpw /usr/local/bin/chntpw && install -m 0755 reged /usr/local/bin/reged && rm -rf /tmp/chntpw
    - RUN git clone https://github.com/sahlberg/fuse-nfs.git && cd fuse-nfs && ./setup.sh && ./configure && make && make install
  append_final:
    - RUN alternatives --set python /usr/bin/python3
    - COPY --from=quay.io/ansible/receptor:devel /usr/bin/receptor /usr/bin/receptor
    - RUN mkdir -p /var/run/receptor
    - RUN pip uninstall urllib3 requests -y && pip install urllib3 requests
    - COPY --from=alpine/helm:3.15.4 /usr/bin/helm /usr/bin/helm