# Workflow name
name: EE build (reusable)


# Controls when the workflow will run
on:
  # This is a reusable workflow
  workflow_call:
    inputs:
      EE_FOLDER_NAME:
        description: 'name of the folder where the EE is located (will become the name of the EE)'
        default: ''
        required: true
        type: string
      EE_IMAGE_TAG:
        description: 'just one tag for image build'
        default: 'latest'
        required: true
        type: string
      QUAY_USER:
        description: 'this is used during the image push to quay'
        required: true
        type: string
      PLATFORMS_JSON:
        description: 'platforms for matrix as JSON string'
        default: '["linux/amd64"]'
        required: false
        type: string
    secrets:
      QUAY_PASSWORD:
        description: 'needed for registry login'
        required: false
      QUAY_USERNAME:
        description: 'needed for registry login'
        required: false

env:
  REGISTRY_IMAGE: quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJson(inputs.PLATFORMS_JSON) }}
    environment: deploy
    steps:

      # In this job, all steps begin with a name
      - name: Get platform name
        id: get-platform-name
        run: |
          platform_name=$(echo ${{ matrix.platform }} | cut -d '/' -f2)
          echo "PLATFORM_PAIR=${platform_name}" >> $GITHUB_ENV

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install python requirements (ansible-builder)
        run: pip install -r requirements.txt

      - name: Log in to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Create build files
        id: create-build-files
        working-directory: ${{ inputs.EE_FOLDER_NAME }}
        run: |
          ansible-builder create -v 3 --context=context --output-filename=Dockerfile

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.EE_FOLDER_NAME }}/context
          file: ${{ inputs.EE_FOLDER_NAME }}/context/Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}:${{ inputs.EE_IMAGE_TAG }}-${{ env.PLATFORM_PAIR }}
            quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}:${{ github.sha }}

      - name: Print summary
        working-directory: ${{ inputs.EE_FOLDER_NAME }}
        run: |
          echo "## :rocket: Usage" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Image pushed to repository: quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}:${{ inputs.EE_IMAGE_TAG }}-${{ env.PLATFORM_PAIR }}" >> $GITHUB_STEP_SUMMARY
          echo "> \`podman pull quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}:${{ inputs.EE_IMAGE_TAG }}-${{ env.PLATFORM_PAIR }}\`" >> $GITHUB_STEP_SUMMARY

          echo "> \`podman pull quay.io/${{ inputs.QUAY_USER }}/${{ inputs.EE_FOLDER_NAME }}:${{ github.sha }}\`" >> $GITHUB_STEP_SUMMARY
          echo "## :pushpin: Ansible info:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          echo "`podman run ${{ inputs.EE_FOLDER_NAME }} ansible --version`" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          echo "## :pushpin: Installed collections:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          echo "`podman run ${{ inputs.EE_FOLDER_NAME }} ansible-galaxy collection list`" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          echo "## :pushpin: Containerfile:" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          echo "`cat Containerfile`" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

  push-manifest:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Create and Push Docker Manifest
        run: |
          # Enable experimental feature for Docker CLI
          export DOCKER_CLI_EXPERIMENTAL=enabled
          
          # Create Docker manifest
          docker manifest create ${{ env.REGISTRY_IMAGE }}:latest \
            ${{ env.REGISTRY_IMAGE }}:${{ inputs.EE_IMAGE_TAG }}-amd64 \
            ${{ env.REGISTRY_IMAGE }}:${{ inputs.EE_IMAGE_TAG }}-arm64
          
          # Annotate each architecture-specific manifest
          docker manifest annotate ${{ env.REGISTRY_IMAGE }}:latest ${{ env.REGISTRY_IMAGE }}:${{ inputs.EE_IMAGE_TAG }}-amd64 --arch amd64
          docker manifest annotate ${{ env.REGISTRY_IMAGE }}:latest ${{ env.REGISTRY_IMAGE }}:${{ inputs.EE_IMAGE_TAG }}-arm64 --arch arm64
          
          # Push the manifest to the registry
          docker manifest push --purge ${{ env.REGISTRY_IMAGE }}:latest

